<!DOCTYPE html>
<html lang="en" style="font-size:50.00px !important">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主页轮播图4</title>
    <link rel="stylesheet" href="css/reast.css">
    <link rel="stylesheet" href="css/iconfont1.css">
    <link rel="stylesheet" href="css/action4.css">
</head>
<body>
    <!-- 顶部 -->
    <header class="bar">
        <div class="bar-box">
            <div class="bar-return">
                <a href="index.html"> < </a> 
            </div> 
            <div class="bar-title">潮流主咖 穿衣有戏</div>
            <div class="bar-connect">
                <div class="bar-button">...</div>
                <div class="bar-error">X</div>
            </div>
        </div>
        <div class="bar-cover">
            <div class="cover-icon">
                <i class="icon-shouye iconfont"></i>
                <p class="cover-content">首页</p>
            </div>
            <div class="cover-icon">
                <i class="icon-sousuo iconfont"></i>
                <p class="cover-content">搜索</p>
            </div>
            <div class="cover-icon">
                <i class="icon-daohangfenlei iconfont"></i>
                <p class="cover-content">分类</p>
            </div>
            <div class="cover-icon">
                <i class="icon-gouwuche iconfont"></i>
                <p class="cover-content">购物车</p>
            </div>
            <div class="cover-icon">
                <i class="icon-wode iconfont"></i>
                <p class="cover-content">我的i百联</p>
            </div>
        </div>
    </header>
    <!-- 顶部结束 -->

    <!-- 主页大图 -->
    <div class="main">
        <div class="main-pic" style="font-size:0">
            <img src="images/main-pic1.jpg" alt="" class="main-pic1"><img src="images/main-pic2.jpg" alt="" class="main-pic2"><img src="images/main-pic3.jpg" alt="" class="main-pic3">
        </div>
    </div>
    <!-- 主页大图结束，但是好像中间有间隙问题 -->

    <!-- 精选服饰 -->
    <div class="dress clearfix">
        <ul>
            <li class="dress-item">
                <div class="dress-item-pic">
                    <img src="images/dress1_360x360.jpg" alt="">
                </div>
                <div class="dress-item-title">Kenzo 高田贤三 女士黑色多色全棉刺绣虎纹运动衫 F862SW7404XH-99</div>
                <div class="dress-item-price">
                    <span class="price">￥2288</span>
                    <del class="previous">￥3070</del>
                </div>
                <div class="dress-btn">加购物车</div>
            </li>
            <li class="dress-item">
                <div class="dress-item-pic">
                    <img src="images/dress2_360x360.jpg" alt="">
                </div>
                <div class="dress-item-title">Kenzo 高田贤三 男士深蓝色刺绣运动衫 F865SW3084XV-77</div>
                <div class="dress-item-price">
                    <span class="price">￥2428</span>
                    <del class="previous">￥2588</del>
                </div>
                <div class="dress-btn">加购物车</div>
            </li>
            <li class="dress-item">
                <div class="dress-item-pic">
                    <img src="images/dress3_360x360.jpg" alt="">
                </div>
                <div class="dress-item-title">MOSCHINO LOVE 女士黑色棉质胸前刺绣图案连帽长袖外套 M码-W333401 00C74</div>
                <div class="dress-item-price">
                    <span class="price">￥2546</span>
                    <del class="previous">￥2840</del>
                </div>
                <div class="dress-btn">加购物车</div>
            </li>
            <li class="dress-item">
                <div class="dress-item-pic">
                    <img src="images/dress4_360x360.jpg" alt="">
                </div>
                <div class="dress-item-title">皮皮狗 圆领彩条波纹女针织开衫 白色 M</div>
                <div class="dress-item-price">
                    <span class="price">￥199</span>
                    <del class="previous">￥430</del>
                </div>
                <div class="dress-btn">加购物车</div>
            </li>
            <li class="dress-item">
                <div class="dress-item-pic">
                    <img src="images/dress5_360x360.jpg" alt="">
                </div>
                <div class="dress-item-title">鹿王 纯山羊绒圆领文艺气质贝壳扣女开衫 浅蓝色 C50294 160/84A</div>
                <div class="dress-item-price">
                    <span class="price">￥480</span>
                    <del class="previous">￥819</del>
                </div>
                <div class="dress-btn">加购物车</div>
            </li>
            <li class="dress-item">
                <div class="dress-item-pic">
                    <img src="images/dress6_360x360.jpg" alt="">
                </div>
                <div class="dress-item-title">圣雪绒 2018秋冬新款纯羊绒衫男V领阿兰绞花商务休闲针织开衫 0056深米 S/100</div>
                <div class="dress-item-price">
                    <span class="price">￥1508</span>
                    <del class="previous">￥3990</del>
                </div>
                <div class="dress-btn">加购物车</div>
            </li>
            <li class="dress-item">
                <div class="dress-item-pic">
                    <img src="images/dress7_360x360.jpg" alt="">
                </div>
                <div class="dress-item-title">萨托尼 衬衫 红色 185</div>
                <div class="dress-item-price">
                    <span class="price">￥320</span>
                    <del class="previous">￥1180</del>
                </div>
                <div class="dress-btn">加购物车</div>
            </li>
            <li class="dress-item">
                <div class="dress-item-pic">
                    <img src="images/dress8_360x360.jpg" alt="">
                </div>
                <div class="dress-item-title">鹿王 纯山羊绒V领商务时尚背心男套衫 浅蓝色 175/92A</div>
                <div class="dress-item-price">
                    <span class="price">￥520</span>
                    <del class="previous">￥680</del>
                </div>
                <div class="dress-btn">加购物车</div>
            </li>
            <li class="dress-item">
                <div class="dress-item-pic">
                    <img src="images/dress9_360x360.jpg" alt="">
                </div>
                <div class="dress-item-title">OFF WHITE 男士黑色长袖 OMBA025R19003015-1028 XL</div>
                <div class="dress-item-price">
                    <span class="price">￥3638</span>
                    <del class="previous">￥4542</del>
                </div>
                <div class="dress-btn">加购物车</div>
            </li>
            <li class="dress-item">
                <div class="dress-item-pic">
                    <img src="images/dress10_360x360.jpg" alt="">
                </div>
                <div class="dress-item-title">ALFA DELTA 男士长袖衬衫 AS-31230 白色 40</div>
                <div class="dress-item-price">
                    <span class="price">￥188</span>
                    <del class="previous">￥898</del>
                </div>
                <div class="dress-btn">加购物车</div>
            </li>
        </ul>
    </div>
    <!-- 精选服饰结束 -->

    <!-- 返回顶部按钮 -->
    <div class="go-top"></div> 
    <!-- 鞋靴运动 -->
    <div class="shoes">
        <img src="images/shoes.jpg" alt="">
    </div>
    <div class="shoe-active clearfix">
        <ul></ul>
    </div>

    <!-- 结尾 -->
    <div class="end">!--我也是有底线的--</div>

    
    <script type="text/template" class="tpl">
        <% list.forEach(function( obj ){ %>
            <li class="dress-item" >
                <div class="dress-item-pic">
                    <img src="<%= obj.img %>" alt="">
                </div>
                <div class="dress-item-title"><%= obj.title %></div>
                <div class="dress-item-price">
                    <span class="price">￥<%= obj.price %></span>
                    <del class="previous">￥<%= obj.original_price %></del>
                </div>
                <div class="dress-btn">加购物车</div>
            </li>
        <% }); %>    
    </script>

<script src="js/base.js"></script>
<script src="js/zepto-animate.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/touch.js"></script>
<script src="js/fastclick.js"></script>
<script src="js/iconfont1.js"></script>
<script src="js/action4.js"></script>
<script src="js/mock.js"></script>
<script src="js/ejs.js"></script>
<script src="js/scrollto.js"></script>
<script>
    // console.log($("window").scrollTop());
    $(function(){
        Mock.mock("api/action4.php",{
            err: 0,
            "list|6": [{
                    'href': "detail.html",
                    'img|1': [
                        'images/shoes1_360x360.jpg',
                        'images/shoes2_360x360.jpg',
                        'images/shoes3_360x360.jpg',
                        'images/shoes4_360x360.jpg',
                        'images/shoes5_360x360.jpg',
                        'images/shoes6_360x360.jpg',
                    ],
                    'title': '@ctitle(15,25)',
                    'price': '@integer(100,2000)',//现价，单位：分  
                    'original_price': '@integer(1000,3000)'
            }]
        });

        function getScrollY(){
            return document.documentElement.scrollTop||document.body.scrollTop||window.pageYOffset;
        }
        var winH=window.innerHeight; //获取浏览器窗口大小
            // console.log(winH);
        var bootop=$(".shoe-active").offsetTop+$(".shoe-active").clientHeight;
        //元素的整体高度=元素的偏移值 + 元素自身的高度；
        console.log($(".shoe-active").offsetTop);
        
            var scrollT=getScrollY();
            if(winH+scrollT>600){



            // $(".shoes").click(function(){
                var page=1;
                var flag=true;
                if(flag){
                    flag=false;
                    
                    // ajax 加载数据
                    var htmlC = $(".goodsList").html();
                    $.ajax({
                        url: 'api/action4.php',
                        dataType: 'json',
                        success: function (data) {
                            if (!data.err) {
                                var html="";
                                html = ejs.render($(".tpl").html(), { list: data.list });
                                // console.log($(".goodsList").html()) 
                                var Co = html;
                                $("ul").html(Co);
                            }
                        }
                    })                        
                }
            // })
                // if(flag){
                //     flag=false;
                    
                //     //ajax 加载数据
                //     var htmlC = $(".goodsList").html();
                //     $.ajax({
                //         url: 'api/action4.php',
                //         dataType: 'json',
                //         success: function (data) {
                //             if (!data.err) {
                //                 var html="";
                //                 html = ejs.render($(".tpl").html(), { list: data.list });
                //                 // console.log($(".goodsList").html()) 
                //                 var Co = htmlC + html;
                //                 $("ul").html(Co);
                //             }
                //         }
                //     })                        
                // }
            // }
        }
    })
    
</script>
</body>
</html>