<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>聚合</title>
    <link rel="stylesheet" href="css/reast.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/iconfont.css">
</head>
<body>
    <div class="main page-cotent">
        <!-- 搜索 -->
        <header>
            <div class="searc-logo"></div>
            <div class="searc-bar-item">
                <i class="iconfont icon-sousuo"></i>
                <span>搜索热门商店</span>
            </div>
        </header>
        <!-- 大轮播 -->
        <div class="swiper-container swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide ">
                    <a href="">
                        <img src="images/index/188856.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="">
                        <img src="images/index/188857.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="">
                        <img src="images/index/188858.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="">
                        <img src="images/index/1142876405.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="">
                        <img src="images/index/188856.jpg" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="">
                        <img src="images/index/188856.jpg" alt="">
                    </a>
                </div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <!-- 中心分类 -->
        <div class="menu">
            <div class="flex-m">
                <div class="menu-item">
                <a href="park.html">
                    <div class="flex-c-m">
                        <img src="images/index/2035819070.png" alt=""> 
                    </div>
                    <div class="flex-c-m deploy">
                        停车
                    </div>
                </a>
                </div>
                <div class="menu-item">
                <a href="giftCard.html">
                    <div class="flex-c-m">
                        <img src="images/index/2034148461.png" alt=""> 
                    </div>
                    <div class="flex-c-m deploy">
                        百联卡
                    </div>
                </a>
                </div>
                <div class="menu-item">
                <a href="users.html">
                    <div class="flex-c-m">
                        <img src="images/index/316154475.png" alt=""> 
                    </div>
                    <div class="flex-c-m deploy">
                        充值缴费
                    </div>
                </a>
                </div>
                <div class="menu-item">
                    <a href="users.html">
                        <div class="flex-c-m">
                            <img src="images/index/1041687056.png" alt=""> 
                        </div>
                        <div class="flex-c-m deploy">
                            领券中心
                        </div>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="apple.html">
                        <div class="flex-c-m">
                            <img src="images/index/312112970.jpg" alt=""> 
                        </div>
                        <div class="flex-c-m deploy">
                            Apple
                        </div>
                    </a>
                </div>
            </div>  
        </div>
        <!-- 今日爆款 -->
        <div class="daily-pomo">
            <div class="title">今日爆款</div>
            <div class="product-list ovfs hide-scrollbar ">
                <div class="ovfs-item">
                    <a href="cars.html">
                        <div class="product-img">
                            <img src="images/index/190005.jpg" alt="">
                        </div>
                        <div class="price flex-c-m">
                                ￥9.9
                        </div>
                        <div class="reference">
                            参考价
                            <span>
                                ￥16.9
                            </span>
                        </div>
                    </a>
                </div>
                <div class="ovfs-item">
                    <a href="cars.html">
                        <div class="product-img">
                            <img src="images/index/19000.jpg" alt="">
                        </div>
                        <div class="price flex-c-m">
                                ￥9.9
                        </div>
                        <div class="reference">
                            参考价
                            <span>
                                ￥16.9
                            </span>
                        </div>
                    </a>
                </div>
                <div class="ovfs-item">
                    <a href="cars.html">
                        <div class="product-img">
                            <img src="images/index/190001.jpg" alt="">
                        </div>
                        <div class="price flex-c-m">
                                ￥9.9
                        </div>
                        <div class="reference">
                            参考价
                            <span>
                                ￥16.9
                            </span>
                        </div>
                    </a>
                </div>
                <div class="ovfs-item">
                    <a href="cars.html">
                        <div class="product-img">
                            <img src="images/index/190002.jpg" alt="">
                        </div>
                        <div class="price flex-c-m">
                                ￥9.9
                        </div>
                        <div class="reference">
                                参考价
                                <span>
                                    ￥16.9
                                </span>
                        </div>
                    </a>
                </div>
                <div class="ovfs-item">
                    <a href="cars.html">
                        <div class="product-img">
                            <img src="images/index/190003.jpg" alt="">
                        </div>
                        <div class="price flex-c-m">
                                ￥9.9
                        </div>
                        <div class="reference">
                                参考价
                                <span>
                                    ￥16.9
                                </span>
                        </div>
                    </a>
                </div>
                <div class="ovfs-item">
                    <a href="cars.html">
                        <div class="product-img">
                            <img src="images/index/897777.jpg" alt="">
                        </div>
                        <div class="price flex-c-m">
                                ￥9.9
                        </div>
                        <div class="reference">
                                参考价
                                <span>
                                    ￥16.9
                                </span>
                        </div>
                    </a>
                </div>
                <div class="ovfs-item">
                    <a href="">
                        <div class="product-img">
                            <div class="more flex-c-m">
                                查看 <br> 更多
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- 百联到家图片 -->
        <div class="special-channel">
            <a href="">
                <img src="images/index/683228170.jpg" alt="">
            </a>
        </div>
        <!-- 分类页面 -->
        <div>
            <div class="channel">
                <div class="channel-box">
                    <div class="channel-item">
                        <a href="boutique.html">
                            <img src="images/index/97329305.jpg" alt=""> 
                        </a>
                    </div>
                    <div class="channel-item">
                        <a href="boutique.html">
                            <img src="images/index/140749782.jpg" alt=""> 
                        </a>
                    </div>
                    <div class="channel-item">
                        <a href="global.html">
                            <img src="images/index/1498569495.jpg" alt=""> 
                        </a>
                    </div>
                    <div class="channel-item">
                        <a href="market.html">
                            <img src="images/index/882398842.jpg" alt=""> 
                        </a>
                    </div>
                    <div class="channel-item">
                        <a href="fresh.html">
                            <img src="images/index/185760690.jpg" alt=""> 
                        </a>
                    </div>
                    <div class="channel-item">
                        <a href="channelBuy.html">
                            <img src="images/index/1870606812.jpg" alt=""> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 相见恨晚 -->
        <div class="recommend">
            <div class="recommend-box">
                <a href="">
                    <img src="images/index/1367924095.png" alt="">
                </a>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="">
                                <img src="images/index/188863.jpg" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="">
                                <img src="images/index/390910497.jpg" alt="">
                            </a>
                        </div>
                        
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>
                </div>
                
            </div>
            <div>
                <a href="">
                    <div class="dp-box flex">
                        <div class="dp-pro">
                            <span>清单</span>
                            <img src="images/index/885572537.jpg" alt="">
                        </div>
                        <div >
                                <div class="dp-title">
                                        薛定谔的数据线——你永远需要多备着一根！
                                </div>
                                <div class="dp-desc">
                                        相关商品
                                        <span>10</span>款
                                        <span>
                                            6.2万
                                        </span>
                                        人感兴趣
                                </div>
                            </div>
                    </div> 
                    
                </a>
                <a href="">
                    <div class="dp-box flex">
                        <div class="dp-pro">
                            <span>清单</span>
                            <img src="images/index/766225684.jpg" alt="">
                        </div>
                        <div >
                            <div class="dp-title">
                                    薛定谔的数据线——你永远需要多备着一根！
                            </div>
                            <div class="dp-desc">
                                    相关商品
                                    <span>10</span>款
                                    <span>
                                        6.2万
                                    </span>
                                    人感兴趣
                            </div>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="dp-box flex">
                        <div class="dp-pro">
                            <span>清单</span>
                            <img src="images/index/885572537.jpg" alt="">
                        </div>
                        <div >
                            <div class="dp-title">
                                    薛定谔的数据线——你永远需要多备着一根！
                            </div>
                            <div class="dp-desc">
                                    相关商品
                                    <span>10</span>款
                                    <span>
                                        6.2万
                                    </span>
                                    人感兴趣
                            </div>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="dp-box flex">
                        <div class="dp-pro">
                            <span>清单</span>
                            <img src="images/index/1059840429.jpg" alt="">
                        </div>
                        <div >
                            <div class="dp-title">
                                    薛定谔的数据线——你永远需要多备着一根！
                            </div>
                            <div class="dp-desc">
                                    相关商品
                                    <span>10</span>款
                                    <span>
                                        6.2万
                                    </span>
                                    人感兴趣
                            </div>
                        </div>
                    </div>
                </a>               
            </div>
        </div>
        <!-- 精选活动 -->
        <div class="selected-activity">
            <div class="selected-activity-box">
                    <div class="selected-activity-title">
                        <a href="">
                        <img src="images/index/1014982840.png" alt="">
                        </a>
                    </div>
                    <div class="selected-activity-img">
                        <a href="action4.html">
                        <img src="images/index/8877778.jpg" alt="">
                        <div class="triangle"></div>    
                        </a>
                    </div>
                    <div class="product-list ovfs">
                    <div class="ovfs-item">
                        <a href="">
                            <img src="images/index/610320518.jpg" alt="">
                        </a>
                    </div>
                    <div class="ovfs-item">
                        <a href="">
                            <img src="images/index/download.jpg" alt="">
                        </a>
                    </div>
                    <div class="ovfs-item">
                        <a href="">
                            <img src="images/index/777777.jpg" alt="">
                        </a>
                    </div>
                    <div class="ovfs-item">
                        <a href="">
                            <img src="images/index/2091865853.jpg" alt="">
                        </a>
                    </div>
                    <div class="ovfs-item more">
                        <a href="">
                            <div class="flex-c-m">
                                查看更多
                            </div>
                        </a>
                    </div>
                    </div>
            </div>
        </div>
        <div class="selected-activity">
            <div class="selected-activity-box">
                <div class="selected-activity-img">
                    <a href="action4.html">
                        <img src="images/index/188859.jpg" alt="">
                        <div class="triangle"></div>
                    </a>
                </div>
                <div class="product-list ovfs">
                    <div class="ovfs-item">
                        <a href="">
                            <img src="images/index/188862.jpg" alt="">
                        </a>
                    </div>
                    <div class="ovfs-item">
                        <a href="">
                            <img src="images/index/188861.jpg" alt="">
                        </a>
                    </div>
                    <div class="ovfs-item">
                        <a href="">
                            <img src="images/index/188860.jpg" alt="">
                        </a>
                    </div>
                    <div class="ovfs-item more">
                        <a href="">
                            <div class="flex-c-m">
                                查看更多
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="selected-activity">
            <div class="selected-activity-box">
                <div class="selected-activity-img">
                    <a href="action4.html">
                        <img src="images/index/874072000.jpg" alt="">
                        <div class="triangle"></div>
                    </a>
                </div>
                <div class="product-list ovfs">
                    <div class="ovfs-item">
                        <a href="">
                            <img src="images/index/17777.jpg" alt="">
                        </a>
                    </div>
                    <div class="ovfs-item">
                        <a href="">
                            <img src="images/index/1583825821.jpg" alt=""> 
                        </a>
                    </div>
                    <div class="ovfs-item">
                        <a href="">
                            <img src="images/index/69533609.jpg" alt="">
                        </a>
                    </div>
                    <div class="ovfs-item more">
                        <a href="">
                            <div class="flex-c-m">
                                查看更多
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 猜你喜欢  -->
        <div class="load-bottom">
             <div class="guess">
                猜你喜欢
             </div>
             <div class="product-list">
               <ul >
               </ul>
             </div>
        </div>
        <!-- 底部导航 -->
        <div class="menus">
            <div class="menusWrap flex">
                <div class="flex-item">
                    <div class="flex-c home skip">
                        <div>
                            <a href="">
                                <img src="images/index/home.2235939.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="flex-c home stick">
                        <div>
                            <img src="images/index/home.2235940.png" alt="">
                        </div>
                    </div>
                </div> 
                <div class="flex-item">
                    <a href="classify.html">
                        <div class="flex-c ">
                            <img src="images/index/category.a23963d.png" alt="">
                        </div>
                        <div class="flex-c ">
                            分类
                        </div>
                    </a>
                </div> 
                <div class="flex-item">
                    <a href="cars.html">
                        <div class="flex-c ">
                            <img src="images/index/cart.c133c32.png" alt="">
                        </div>
                        <div class="flex-c ">
                            购物车
                        </div>
                    </a>
                </div> 
                <div class="flex-item">
                    <a href="users.html">
                        <div class="flex-c ">
                            <img src="images/index/mine.951033e.png" alt="">
                        </div>
                        <div class="flex-c ">
                            我的
                        </div>
                    </a>
                </div> 
            </div>
        </div>
    </div> 
</body>
<script type="text/template" class="tpl">

    <% list.forEach(function( obj ){ %>
        <li class="line1 item" nname="book-65152-9162_1-473554_" type="item" ddt-pit="1" dd_name="1">
                <a class="img" href="<%= obj.href %>" target="_blank">
                    <img src="<%= obj.img %>" alt="<%= obj.title %>">
                </a>
                <p class="name" ddt-src="24198400">
                    <a title="<%= obj.title %>" href="<%= obj.href %>"
                        target="_blank"><%= obj.title %></a>
                </p>
                <p class="price">
                    <span class="price_r">
                        <span class="sign">¥</span>
                        <span class="num"><%= obj.price %></span>
                    </span>
                </p>
            </li>
    <% }); %>
</script>
<script src="js/jquery.1.11.3.min.js"></script>
<script src="js/ejs.js"></script>
<script src="js/mock.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/zepto.min.js"></script>
<script src="js/index.js"></script>
<script src="js/iconfont.js"></script>
<script src="js/device.js"></script>
<script>
  var mySwiper = new Swiper ('.swiper-container', {
    loop: true, // 循环模式选项
    autoplay: true,
    // 如果需要分页器
    pagination: {
      el: '.swiper-pagination',
    },
  }) 
</script>
</html>